<footer class="block app-block-footer p-y-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Contact me on AdrianJRamirez at gmail.com</h6></li>
          <p>Based in Los Angeles</p>
        </ul>
      </div>

      <div class="col-sm-6">
        <h6 class="text-uppercase">About this Site</h6>
        <p>Designed and built by me with the help of Angular 2.<br>Last Update: December 2016 © Adrian Ramirez 2016</p>
      </div>
    </div>
  </div>
</footer>

