footer{
  /*padding-top: 50px;
  padding-bottom: 50px;
  color: #99979c;
  background-color: #2a2730;
  height: 80px;
  */
}

/* footer block */
.app-block-footer {
  background-color: rgb(27, 28, 29);
  color: #444;
  color: rgba(116, 119, 123, .5);

  height: 100%;
}
