 <div class="container-fluid app-gallery-container">
   <div class="row">
     <div class="col-md-12 app-gallery-slides">
       <section *ngFor="let item of gallery" [class.selected]="item === selectedItem"  (click)="onSelect(item)">
            <div class="slide" >
              <img class="slide-image slide-image-filter"  [class.slide-mouseover-filter]="isMouseOver === true" [src]="item.imageThumb" [alt]="item.name">
              <img class="slide-case" src="../../assets/images/gallery/silde/kodak35mmslide.png">
              <h3 class="slide-title">{{item.name}}</h3>
              <h3 class="slide-client">{{item.client}}</h3>
              <i class="slide-icon" (mouseover)="item.over()" [ngClass]="item.techIcon"></i>
            </div>
       </section>
     </div>
   </div>
</div>
