<!--<form id="search-component" class="navbar-form navbar-right p-x-md">

  <div class="form-group">
    <input #searchBox id="search-box" type="text" class="form-control input-sm" placeholder="SEARCH" autocomplete="off" (keyup)="search(searchBox.value)">
    <div *ngFor="let item of galleryItems | async" (click)="gotoDetail(item)" class="search-result" >
      {{item.name}}
    </div>
  </div>

</form> (focusout)="" -->

<form id="search-component" class="navbar-form navbar-right p-x-md">

  <div class="form-group">
    <input #searchBox id="search-box" type="text" class="form-control input-sm" placeholder="SEARCH" autocomplete="off"  (focusout)="searchBox.value=''; clearSearch()" (keyup)="search(searchBox.value)">

    <ul class="nav nav-stacked">
      <li *ngFor="let item of galleryItems | async" (click)="gotoDetail(item); clearSearch()" >{{item.name}}</li>
    </ul>
  </div>

</form>

