#search-component {

}
.app-search-list.dropdown-menu{

  float: left;
  margin-top: -30px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  min-width: 200px;
  left: auto;
  right: auto;
  padding: 0;
}

.search-result{
  padding: 5px 0;
}

#search-box{
  width: 200px;
  height: 36px;
}
