<div class="stage-shelf stage-shelf-left hidden app-profile-container" id="sidebar">

  <blockquote class="pull-quote">
    <img class="img-circle" src="../assets/images/profile/face.jpg">
    <cite>
      Web/App Developer
    </cite>
    <br>
  </blockquote>

  <ul class="iconlist">
    <li>
      <strong>Programming Languages:</strong>
    </li>
    <li>
      <i class="devicon-javascript-plain"></i>
      JavaScript, TypeScript
    </li>
    <li>
      <i class="devicon-html5-plain"></i>
      HTML5
    </li>
    <li>
      <i class="devicon-css3-plain"></i>
      CSS3
    </li>
    <li>
      <i class="devicon-sass-original"></i>
      SASS, LESS
    </li>
    <li>
      <i class="devicon-gulp-plain"></i>
      Gulp, Grunt
    </li>
    <li>
      <i class="devicon-php-plain"></i>
      PHP
    </li>
    <li>
      <i class="devicon-java-plain"></i>
      Java
    </li>
    <li>
      <i class="devicon-cplusplus-plain"></i>
      C++
    </li>
    <li class="no-logo">
      Objective-C
    </li>
    <li class="no-logo">
      OpenFL, Haxe
    </li>
    <li class="no-logo">
      AS3
    </li>
    <li>
      <strong>Libraries & Frameworks:</strong>
    </li>
    <li>
      <i class="devicon-angularjs-plain"></i>
      Angular 2
    </li>
    <li>
      <i class="devicon-react-original"></i>
      React Native
    </li>
    <li>
      <i class="devicon-backbonejs-plain"></i>
      Backbone.js
    </li>
    <li>
      <i class="devicon-bootstrap-plain"></i>
      Bootstrap
    </li>
    <li>
      <i class="devicon-jquery-plain"></i>
      jQuery
    </li>

    <li>
      <i class="devicon-wordpress-plain"></i>
      WordPress
    </li>

    <li class="no-logo">
      GSAP
    <li>
      <strong>Database System:</strong>
    </li>
    <li>
      <i class="devicon-mysql-plain"></i>
      MySql
    </li>
    <li>
      <i class="devicon-mongodb-plain"></i>
      MongoDB / NoSQL
    </li>
    <li>
      <strong>Quality Control:</strong>
    </li>
    <li>
      <i class="devicon-git-plain"></i>
      Git
    </li>
    <li>
      <strong>Development Software:</strong>
    </li>
    <li>
      <i class="devicon-apple-original"></i>
      Xcode
    </li>
    <li>
      <i class="devicon-android-plain"></i>
      Android Studio
    </li>
    <li>
      <strong>Design Software:</strong>
    </li>
    <li>
      <i class="devicon-photoshop-plain"></i>
      Photoshop
    </li>
    <li>
      <i class="devicon-illustrator-plain"></i>
      Illustrator
    </li>
    <li class="no-logo">
      Animate/Flash
    </li>
    <li>
      <strong>Video Software:</strong>
    </li>
    <li class="no-logo">
      Premiere
    </li>
    <li>
      <strong>3D Software:</strong>
    </li>
    <li class="no-logo">
      Maya, 3ds Max
    </li>

  </ul>

  <!--<ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">Examples</li>
    <li class="active">
      <a href="index.html">Startup</a>
    </li>
    <li>
      <a href="minimal/index.html">Minimal</a>
    </li>
    <li>
      <a href="bold/index.html">Bold</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header">Docs</li>
    <li>
      <a href="docs/index.html">Toolkit</a>
    </li>
    <li>
      <a href="http://getbootstrap.com">Bootstrap</a>
    </li>
  </ul>-->
</div>
