<div class="stage-shelf stage-shelf-left hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">Examples</li>
    <li class="active">
      <a href="index.html">Startup</a>
    </li>
    <li>
      <a href="minimal/index.html">Minimal</a>
    </li>
    <li>
      <a href="bold/index.html">Bold</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header">Docs</li>
    <li>
      <a href="docs/index.html">Toolkit</a>
    </li>
    <li>
      <a href="http://getbootstrap.com">Bootstrap</a>
    </li>
  </ul>
</div>
