<div class="stage-shelf stage-shelf-left hidden app-profile-container" id="sidebar">
  <ul class="iconlist p-l-md">
    <li>
      Programming Languages:
    </li>
    <li>
      <span class="devicon-javascript-plain"></span>
      JavaScript
    </li>
    <li>
      <span class="devicon-html5-plain-wordmark"></span>
      HTML5
    </li>
    <li>
      <span class="devicon-css3-plain-wordmark"></span>
      CSS3
    </li>
  </ul>

  <!--<ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">Examples</li>
    <li class="active">
      <a href="index.html">Startup</a>
    </li>
    <li>
      <a href="minimal/index.html">Minimal</a>
    </li>
    <li>
      <a href="bold/index.html">Bold</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header">Docs</li>
    <li>
      <a href="docs/index.html">Toolkit</a>
    </li>
    <li>
      <a href="http://getbootstrap.com">Bootstrap</a>
    </li>
  </ul>-->
</div>
