@media only screen and (max-width:767px){
  .dropdown-menu{
    display: block;
    position: static;
    background-color:transparent;
    border:0 none;
    box-shadow:none;
    margin-top:0;
    position:static;
    width:100%;
  }
  .navbar-nav .dropdown-menu > li > a,
  .navbar-nav .dropdown-menu .dropdown-header {
    padding:5px 15px 5px 30px;
    color: #2a2730;
  }
  .navbar-nav .dropdown-menu > li > a{
    line-height:20px;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a{

  }
  a.dropdown-toggle .caret {
    display: none;
  }
  .dropdown a.dropdown-toggle{
    color:#777777;
  }
}
