<!--<nav class="navbar navbar-default navbar-static-top navbar-padded text-uppercase app-navbar">-->
  <nav class="navbar navbar-default navbar-fixed-top navbar-padded text-uppercase p-l-md">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed p-x-0" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./">
        <span>{{title}}</span>
      </a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li >
          <a routerLink="/detail/2">Profile</a>
        </li>
        <li class="active dropdown" role="presentation">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Gallery <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/gallery">All Projects</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/gallery/type/website">Websites</a></li>
            <li><a routerLink="/gallery/type/app">Apps</a></li>
            <li><a routerLink="/gallery/type/ads">Rich Media Ads</a></li>
            <li><a routerLink="/gallery/type/ads">Games</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/gallery">Featured</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/gallery/technology/html5">HTML5 / CSS3</a></li>
            <li><a routerLink="/gallery/technology/Angular">Angular</a></li>
          </ul>
        </li>
      </ul>
      <gallery-search class=""></gallery-search>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


