.app-main-img-horiz{
  width: 100%;
  max-width: 500px;
}

.app-main-img-vertical{
  width: auto;
  max-height: 550px;
}

.border-bottom{
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.app-block-main .image-holder{
  text-align: right;
}


.app-iframe-300x600{
  height: 620px;
  width: 300px;
  border: 0;
}

.app-iframe-300x250{
  height: 300px;
  width: 300px;
  border: 0;
}

.app-image-btn{
  width: 100%;
  max-width: 150px;
}
.app-block-main {
  overflow: hidden
}

.app-block-main .image-holder, .app-block-carousel .image-holder{
  text-align: center;
}

.block-inverse, .block-inverse .block-bg-img {
  background-color: #2a2730;
}
.block-inverse i{
  color: #ffffff;
}

.app-block-video{}

.app-block-carousel{}


i{
  color: #2a2730;
  font-size: 30px;
}

.app-block-tech-icons li{
  margin: 0 auto;
  width: 14%;
}

h1{
  font-size: 44px;
}

.carousel .icon-chevron-thin-left,
.carousel .icon-chevron-thin-right{
  background-color: white;
  width: 30px;
  height: 30px;
  color: black;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  max-height: 650px;
}

.carousel-inner>.item>a>iframe, .carousel-inner>.item>iframe {
  height: 500px;
  width: 320px;
  border: 0;
}

.carousel-indicators{
  display: none;
}

.pull-quote>img {
  border: 1px solid #2a2730;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) {
  .app-main-img-vertical {
    width: auto;
    max-height: 450px;
  }

  .app-main-img-horiz{
    width: 140%;
    max-width: 600px;
    margin-top: 40%;
  }

  i{
    font-size: 50px;
  }
  h1{
    font-size: 52px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {
  .app-main-img-vertical {
    width: auto;
    max-height: 550px;
  }
  .app-main-img-horiz{
    width: 150%;
    max-width: 600px;
    margin-top: 25%;
  }

  i{
    font-size: 70px;
  }
  h1{
    font-size: 60px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .app-main-img-vertical {
    width: auto;
    max-height: 650px;
  }

  .app-main-img-horiz{
    width: 130%;
    max-width: 800px;
    margin-top: 15%;
  }

  h1{
    font-size: 72px;
  }


  .app-image-btn{
    max-width: 180px;
  }

}


