<!--<div class="block block-fill-height text-center" *ngIf="galleryItem">
  <div class="block-xs-bottom">
    <div class="container-fluid">
      <h1 class="block-title">{{galleryItem.name}}</h1>
      <h4 class="text-muted">{{galleryItem.description}}</h4>
      <button class="btn btn-primary m-t" (click)="goBack()">Back</button>
      <div><label>id: </label>{{galleryItem.id}}</div>
    </div>
  </div>
</div>-->


<div class="block block-secondary app-iphone-block" *ngIf="galleryItem">
  <div class="container">
    <div class="row app-align-center">

      <div class="col-sm-5">
        <img class="app-iphone" [src]="galleryItem.imageFull" style="width: 100%;">
      </div>

      <div class="col-sm-6 col-sm-offset-1">
        <h6 class="text-muted text-uppercase">Rich Information</h6>
        <h3 class="m-t-0">{{galleryItem.name}}</h3>
        <p class="lead m-b-md">We combine immediate real time events with rich historical data to help answer the toughest questions about retention, growth, and engagement.</p>
        <div class="row hidden-sm">
          <div class="col-sm-6 m-b-md">
            <h5 class="m-y-0">Data frequency</h5>
            <p>We poll for data on a millisecond basis. You can react to new information in seconds rather than days. <a href="#" class="text-primary">Learn more.</a></p>
          </div>
          <div class="col-sm-6">
            <h5 class="m-y-0">Reliability & uptime</h5>
            <p>We process our data across a massively distributed network of reliable servers to ensure 99.99% uptime, always. <a href="#" class="text-primary">Learn more</a>.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="block block-inverse block-secondary app-code-block" *ngIf="galleryItem">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <img class="app-iphone" [src]="galleryItem.imageFull" style="width: 100%;">
      </div>

      <div class="col-sm-6 col-sm-pull-5">
        <h6 class="text-muted text-uppercase">Easy development</h6>
        <h3 class="m-t-0">Natural language queries make mining data easy for anyone.</h3>
        <p class="lead m-b-md text-muted">Rather than force everyone at your company to learn incredibly difficult terminal commands, we allow anyone to query the data with natural language to return data.</p>
        <button class="btn btn-default btn-lg btn-borderless">
          Read our docs
        </button>
      </div>
    </div>
  </div>
</div>


