.app-block-main {
  overflow: hidden
}

.app-block-main img{
  height: 100%;
  max-height: 400px;
}

.app-block-main .image-holder, .app-block-carousel .image-holder{
  text-align: center;
}

i{
  color: #2a2730;
  font-size: 30px;
}

li{
  margin: 0 auto;
  width: 14%;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) {

  i{
    font-size: 50px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {
  i{
    font-size: 70px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .app-block-main img{
    height: 100%;
    max-height: 650px;
  }

  .app-block-main .image-holder{
    text-align: right;
  }

}

.app-block-video{

  background-color: #2a2730;
}

.app-block-carousel{


}
