<!--<div class="block block-fill-height text-center" *ngIf="galleryItem">
  <div class="block-xs-bottom">
    <div class="container-fluid">
      <h1 class="block-title">{{galleryItem.name}}</h1>
      <h4 class="text-muted">{{galleryItem.description}}</h4>
      <button class="btn btn-primary m-t" (click)="goBack()">Back</button>
      <div><label>id: </label>{{galleryItem.id}}</div>
    </div>
  </div>
</div>-->


<div class="block p-b-0" *ngIf="galleryItem">
  <div class="container">
    <div class="row">

      <div class="col-sm-5 col-sm-push-7">
        <img [src]="galleryItem.imageFull" style="width: 100%;">
      </div>

      <div class="col-sm-6 col-sm-pull-5">
        <h6 class="text-muted text-uppercase">{{galleryItem.type}}</h6>
        <h3 class="m-t-0">{{galleryItem.name}}</h3>
        <p class="lead m-b-md">{{galleryItem.description}}</p>

        <div class="row">
          <div class="col-sm-6 m-b-md">
            <h5 *ngIf="galleryItem.technology" class="m-y-0">Technology</h5>
            <p>{{galleryItem.technology}}</p>
          </div>
          <div *ngIf="galleryItem.agency" class="col-sm-6 m-b-md">
            <h5 class="m-y-0">Agency</h5>
            <p>{{galleryItem.agency}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 m-b-md">
            <h5 *ngIf="galleryItem.role" class="m-y-0">My Roll</h5>
            <p>{{galleryItem.role}}</p>
          </div>
          <div *ngIf="galleryItem.year" class="col-sm-6 m-b-md">
            <h5 class="m-y-0">Year</h5>
            <p>{{galleryItem.year}}</p>
          </div>
        </div>

        <div class="row">
          <div *ngIf="galleryItem.urls[0]" class="col-sm-6 m-b-md">
            <a class="btn btn-default" [href]="galleryItem.urls[0].link" role="button">
              {{galleryItem.urls[0].title}}
            </a>
          </div>
          <div *ngIf="galleryItem.urls[1]" class="col-sm-6 m-b-md">
            <a class="btn btn-default" [href]="galleryItem.urls[1].link" role="button">
              {{galleryItem.urls[1].title}}
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="block block-inverse block-secondary app-code-block" *ngIf="galleryItem">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <img class="app-iphone" [src]="galleryItem.imageFull" style="width: 100%;">
      </div>

      <div class="col-sm-6 col-sm-pull-5">
        <h6 class="text-muted text-uppercase">Easy development</h6>
        <h3 class="m-t-0">Natural language queries make mining data easy for anyone.</h3>
        <p class="lead m-b-md text-muted">Rather than force everyone at your company to learn incredibly difficult terminal commands, we allow anyone to query the data with natural language to return data.</p>
        <button class="btn btn-default btn-lg btn-borderless">
          Read our docs
        </button>
      </div>
    </div>
  </div>
</div>


